body {
    background-color: rgb(22, 68, 29);
    box-sizing: border-box;

}

.card {
    margin-top: 200px;
    margin-left: 200px;
    background: white;
    font-size: 80px;
    text-align: center;
    display: inline-block;
    margin: auto;
    height: 300px;
    width: 250px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    padding-top: 180px;
    border-radius: 5px;
    position: relative;

    
    &::before {
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 80px;
    }

    &::after {
        position: absolute;
        bottom: 20px;
        right: 20px;
        font-size: 80px;

    }

    &.spade::before, &.spade::after {content: '♠'; color: black;}
    &.club::before, &.club::after {content: '♣'; color: black;}
    &.heart::before, &.heart::after {content: '♥'; color:red;}
    &.diamond::before, &.diamond::after {content: '♦'; color:red;}
}